.pane {
    -fx-background-color:  #fffefc;
    -fx-border-color:  #d1dbff;
}

.button-raised{
    -jfx-button-type: RAISED;
    -fx-background-color: #0f0c3a;
    -fx-pref-width: 70;
    -fx-text-fill: WHITE;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.button-raised .jfx-rippler{
    -jfx-rippler-fill: #094ebc;
}

.head{
    -fx-background-color: #003284;
}

.head .text{
    -fx-stroke: black;
}

.jfx-text-field {
    -fx-background-color:#d1dbff;
}

.jfx-password-field {
    -fx-background-color:#d1dbff;
}